<div class="row">
  <div class="container col-3 border">
    <app-cabecera></app-cabecera>
  </div>

  <div *ngFor="let post of posts" class="col-6 border container-fluid d-flex pt-5 mx-0 px-1">



    <!-- Cuerpo -->
    <div>
      <div class="container px-5 py-4">

        <!--Cabecera-->
        <div class="row  py-2">
          <div *ngIf="post.foto_perfil" class="col-1 text-center ">
            <img style="width: 50px" src={{post.foto_perfil}} alt="Image Description">
          </div>

          <div *ngIf="!post.foto_perfil" class="col-1 text-center ">
            <img style="width: 50px" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
          </div>
          <div class="col-7 position-relative top-0 start-0 ">
            <span>{{post.nombre_usuario}}</span>
          </div>
          <div class="col-4  text-end ">
            <span>{{post.fecha_publicacion}}</span>
          </div>
        </div>
        <!-- Texto del Post -->
        <div class="row py-2">
          <h3 class="py-3">{{post.titulo}}</h3>

          <p>{{post.contenido}}</p>
        </div>

        <!-- Imagen del Post -->
        <div *ngIf="post.imagen != null" class="row py-2">
          <img class="img-fluid px-5" src={{post.imagen}}>
        </div>

        <!-- Iconos -->
        <div class="row py-3 mx-4 ">

          <div class="col-7">
            <button *ngIf="esCreadorPost(post)" class="btn btn-primary me-2"
              (click)="modificarPost()">Editar Post</button>
            <button *ngIf="esCreadorPost(post)" type="submit" class="btn btn-danger me-2"
              (click)="eliminarPost()">Eliminar Post</button>


            <input *ngIf="esCreadorPost(post)" type="file" id="imagen" name="imagen" required
              (change)="onFileSelected($event)">
            <div
              *ngIf="formularioImagenPost.controls['imagen'].invalid && (formularioImagenPost.controls['imagen'].dirty || formularioImagenPost.controls['imagen'].touched)">

            </div>
          </div>

          <div class="col-12 d-flex justify-content-end">

            <!-- Visitas -->
            <div class="col-1">
              <span class="material-symbols-outlined"> visibility </span>
              <span>{{post.num_visitas}}</span>
            </div>
            <!-- Likes -->
            <div *ngIf="!post.likeDado" class="col-1">
              <span (click)="gestionLikes(post.id, post.url)" class="material-symbols-outlined"> favorite </span>
              <span> {{post.num_likes}}</span>
            </div>

            <div *ngIf="post.likeDado" class="col-1">
              <span (click)="gestionLikes(post.id, post.url)" class="material-symbols-outlined"> heart_check </span>
              <span> {{post.num_likes}}</span>
            </div>

            <!-- Mensajes -->
            <div class="col-1">
              <span class="material-symbols-outlined"> comment </span>
              <span>0</span>
            </div>
          </div>
        </div>
      </div>

      <hr class="w-75 mx-auto">

      <!-- Comentarios -->
      <div class="container p-5">
        <div class="row p-3 text-center">
          <h1>Comentarios</h1>
        </div>

        <!-- Formulario -->
        <div class="row col-12  py-2 px-5">
          <form [formGroup]="formularioComent" (ngSubmit)="nuevoComentario()">
            <div class="mb-3">
              <label for="contenido" class="form-label">Nuevo Comentario</label>
              <textarea class="form-control" rows=8 formControlName="contenido" required
                placeholder="Introduce tu comentario" [defaultValue]=""
                (keydown)="controlarCaracteres(formularioComent.value.contenido!)"></textarea>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <button type="submit" class="btn btn-primary" [disabled]="formularioComent.invalid">Enviar</button>
              </div>
              <div class="col-6 text-end">
                <p>Caracteres restantes: {{caracRestantes}} </p>

                <div class="row">
                  <p *ngIf="!quedanCaracteres">Excedida la capacidad de caracterres por {{caracSobrantes}} </p>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row d-flex my-5">
          <div *ngFor="let comentario of comentarios;  first as primera" class="col-md-12 col-lg-12">
            <div class="card text-dark">
              <div class="card-body p-5">
                <h4 *ngIf="primera" class="m-0">Comentarios recientes</h4>
                <p *ngIf="primera" class="fw-light mb-5 pb-2">Ultimos comentarios de los usuarios</p>
                <div class="d-flex flex-start">
                  <ng-container *ngIf="!comentario.foto_perfil">
                    <img class="img-fluid border border-black rounded-circle me-3" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"
                      width="15%" height="10px"/>
                  </ng-container>
                  <ng-container *ngIf="comentario.foto_perfil"> 
                    <img class="img-fluid border border-black rounded-circle me-3" src={{comentario.foto_perfil}} alt="avatar"
                      width="15%" height="10px"/>
                  </ng-container>
                  <div>
                    <h6 class="fw-bold mb-1">{{comentario.nombre_usuario}}</h6>
                    <div *ngIf="esCreadorPost(comentario)" class="d-flex align-items-center mb-3">
                      <p class="mb-0">{{comentario.fecha_creacion}}</p>
                      <a class="link-muted ms-3">
                        <span class="material-symbols-outlined" (click)="modificaComentario(comentario.id)"
                          style="cursor: pointer;">edit</span>
                      </a>
                      <a class="link-muted ms-3">
                        <span class="material-symbols-outlined" (click)="eliminarComentario(comentario.id)"
                          style="cursor: pointer;"> delete
                        </span>
                      </a>
                    </div>
                    <p class="mb-0">{{comentario.contenido}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 border">
    <app-contactos-chat></app-contactos-chat>
  </div>

</div>