<div class="container-fluid pt-5 d-flex mx-0 px-0 pb-5 min-vh-100">

    <div class="container mt-5 pt-5 pb-5 border">
  
      <div class="row col-12 offset-3 py-3 border w-50 text-center">
        <h1>Registrate</h1>
      </div>
  
      <div class="row col-8 offset-3 px-5 pt-5 border  w-50">
  
        <form [formGroup]="formularioDatosUsuario" (ngSubmit)="editarDatosUsuario()">
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="form-outline mb-4">
            <input class="form-control" id="password" formControlName="password" type="password" />
            <label class="form-label" for="password">Contraseña</label>
            <mat-error *ngIf="formularioDatosUsuario.get('password')?.errors?.['serverError']">
              {{formularioDatosUsuario.get('password')?.errors?.['serverError']}}</mat-error>
          </div>
  
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Registrarte</button>
  
          <!-- Register buttons -->
        
        </form>
      </div>
    </div>
  </div>
