<div class="container-fluid mx-0 px-0">

    <div *ngIf="!contenidoCargado" class="animacion col-md-12 offset-12 mt-5 py-4">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <span class="animacion_texto">Cargando</span>
    </div>

    <!-- CUERPO DEL PROYECTO -->

    <div *ngIf="contenidoCargado" class="col-md-12 offset-12 mt-5 py-4 slides">
        <!-- POSTS -->
        <section id="posts" class="m-5">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header text-center ">
                            <div class="row">
                                <div class="col-3 d-flex align-self-center cursor" (click)="enlaceAplicacion()">
                                    <span class="material-symbols-outlined me-2">
                                        keyboard_backspace
                                    </span>
                                    <span class="mb-0 ">Regresar a la aplicación</span>
                                </div>
                                <div class="col-6 form-floating  d-flex">
                                    <div class="text-start  col-5">
                                        <span>fecha inicio</span>
                                        <input class="me-5" type="date" [(ngModel)]="fecha_inicio"  [ngModelOptions]="{standalone: true}" (change)="guardarValorBusqueda()">
                                    </div>
                                    <div class="text-start  col-5">
                                        <span>fecha fin</span>
                                        <input class="me-5" type="date" [(ngModel)]="fecha_fin"  [ngModelOptions]="{standalone: true}"  (change)="guardarValorBusqueda()">
                                    </div>
                                </div>


                                <div class="col-3 ">

                                    <div class="input-group">
                                        <div class="form-outline">
                                            <input type="search" id="form1" class="form-control" placeholder="Buscar"
                                                [(ngModel)]="valorBusqueda" />

                                        </div>
                                        <button type="button" class="btn btn-dark" (click)="guardarValorBusqueda()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <table class="table table-striped">
                            <thead class="bg-dark text-white text-center" style="font-size: 12px;">
                                <tr class="table-dark">
                                    <th></th>

                                    <ng-container *ngFor="let campo of camposNoOrdenados() ">
                                        <th (click)="ordenarPosts(campo[0])" style="cursor: pointer;">{{campo[1]}}
                                            <span *ngIf="ordenarCampo && campoSeleccionado==campo[0]"
                                                class="material-symbols-outlined" style="height: 5px;">
                                                keyboard_arrow_down
                                            </span>

                                            <span *ngIf="!ordenarCampo ||  campoSeleccionado!=campo[0]"
                                                class="material-symbols-outlined">
                                                keyboard_arrow_up
                                            </span>
                                        </th>
                                    </ng-container>

                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>

                            <tbody class="text-center" style="font-size: 12px;">
                                <tr *ngFor="let post of posts " style="height: 50px; ">
                                    <td></td>
                                    <td>{{post.titulo}}</td>
                                    <td>{{post.datos_usuario.username}}</td>
                                    <td>{{post.num_visitas}}</td>
                                    <td>{{post.num_likes}} </td>
                                    <td>{{post.num_comentarios}} </td>
                                    <td *ngIf="!post.oculto">Visible</td>
                                    <td *ngIf="post.oculto">Oculto</td>
                                    <td>{{post.fecha_publicacion | date:'dd/MM/yyyy'}}</td>

                                    <td class="mb-2">
                                        <a [routerLink]='["/post/",post.id]' class="btn background-secondary px-5"
                                            style="font-size: 12px;">
                                            <i class="fas fa-angle-double-right"></i> Detalles Post
                                        </a>


                                    </td>

                                    <td>
                                        <button *ngIf="!post.oculto && post.datos_usuario.id != credenciales.id "
                                            class="btn btn-secondary" (click)="ocultarPost(post.id, post)"
                                            style="font-size: 12px;">Ocultar Post</button>
                                        <button *ngIf="post.oculto && post.datos_usuario.id != credenciales.id"
                                            class="btn btn-secondary" (click)="mostrarPost(post.id, post)"
                                            style="font-size: 12px;">Mostrar Post</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card text-center background-primary mb-3">
                        <div class="card-body">
                            <h3>Posts</h3>
                            <h4 class="display-4">
                                <i class="fas fa-pencil-alt"></i>
                                <span id="postCount">{{posts.length}}</span>
                            </h4>
                            <br>
                        </div>

                    </div>
                    <div class="card text-center background-light mb-3">
                        <div class="card-body">
                            <h3>Usuarios</h3>
                            <h4 class="display-4">
                                <i class="fas fa-users background-light"></i> {{usuarios.length}}
                            </h4>
                            <a class="btn btn-outline-dark btn-sm" [routerLink]="['/admin-usuarios']">Ver</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>
</div>