<div class="container-fluid mx-0 px-0">

    <!-- CUERPO DEL PROYECTO -->

    <div class="col-md-12 offset-12 mt-5 py-4">
        <!-- POSTS -->
        <section id="posts" class="m-5">
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header text-center ">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <h4 class="display-5 mb-0 ">Usuarios</h4>
                                </div>

                                <div class="col-3 ">

                                    <div class="input-group">
                                        <div class="form-outline">
                                            <input type="search" id="form1" class="form-control" placeholder="Buscar"
                                                [(ngModel)]="valorBusqueda" />

                                        </div>
                                        <button type="button" class="btn btn-dark" (click)="guardarValorBusqueda()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <table class="table table-striped">

                            <thead class="bg-dark text-white text-center" style="font-size: 12px;">
                                <tr class="">
                                    <th></th>
                                    <ng-container *ngFor="let campo of getUnorderedFields() ">
                                        <th (click)="ordenarUsuarios(campo[0])" style="cursor: pointer;">{{campo[1]}}
                                            <span *ngIf="ordenarCampo && campoSeleccionado==campo[0]"
                                                class="material-symbols-outlined" style="height: 5px;">
                                                keyboard_arrow_down
                                            </span>

                                            <span *ngIf="!ordenarCampo ||  campoSeleccionado!=campo[0]"
                                                class="material-symbols-outlined">
                                                keyboard_arrow_up
                                            </span>
                                        </th>
                                    </ng-container>

                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody class="text-center" style="font-size: 12px;">
                                <tr *ngFor="let usuario of usuarios " style="height: 50px; ">
                                    <td></td>
                                    <td>{{usuario.username}}</td>
                                    <td>{{usuario.first_name}} {{usuario.last_name}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.pais}} </td>
                                    <td>{{usuario.estado}} </td>
                                    <td *ngIf="!usuario.es_moderador && !usuario.is_staff">Usuario estándar</td>
                                    <td *ngIf="usuario.es_moderador  && !usuario.is_staff">Moderador</td>
                                    <td *ngIf="usuario.is_staff && !usuario.es_moderador">Administrador</td>
                                    <td *ngIf="usuario.is_staff && usuario.es_moderador">Administrador</td>
                                    <td>{{usuario.fecha_alta | date:'dd/MM/yyyy'}}</td>

                                    <td class="mb-2">
                                        <a [routerLink]='["/perfil-usuario/",usuario.id]'
                                            class="btn background-secondary px-5" style="font-size: 12px;">
                                            <i class="fas fa-angle-double-right"></i> Detalles
                                        </a>
                                    </td>
                                    <td>
                                        <button
                                            *ngIf="!usuario.es_moderador && usuario.id != credenciales.id && !usuario.is_staff"
                                            class="btn btn-secondary" (click)="agregarModerador(usuario.id, usuario)"
                                            style="font-size: 10px;">Hacer moderador</button>
                                        <button
                                            *ngIf="usuario.es_moderador && usuario.id != credenciales.id && !usuario.is_staff"
                                            class="btn btn-secondary" (click)="quitarModerador(usuario.id, usuario)"
                                            style="font-size: 10px;">Quitar moderador</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card text-center background-primary mb-3">
                        <div class="card-body">
                            <h3>Posts</h3>
                            <h4 class="display-4">
                                <i class="fas fa-pencil-alt"></i>
                                <span id="postCount">{{posts.length}}</span>
                            </h4>
                            <a class="btn btn-outline-dark btn-sm" [routerLink]="['/admin-posts']">Ver</a>
                        </div>

                    </div>
                    <div class="card text-center background-light mb-3">
                        <div class="card-body">
                            <h3>Usuarios</h3>
                            <h4 class="display-4">
                                <i class="fas fa-users background-light"></i> {{usuarios.length}}
                            </h4>
                            <br>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>
</div>