

    <div class="card-body">
      <form  [formGroup]="formulario" (ngSubmit)="nuevoUsuario()">
        <div class="row row py-2 g-3 align-items-center">
          <div class="col-auto">
            <label class="col-form-label">Nombre de usuario: </label>
          </div>
          <div class="col-auto">
            <input class="form-control" formControlName="username" type="text">
            <mat-error *ngIf="formulario.get('username')?.errors?.['serverError']"> {{formulario.get('username')?.errors?.['serverError']}}</mat-error>
          </div>
        </div>

        
        <div class="row row py-2 g-3 align-items-center">
          <div class="col-auto">
            <label class="col-form-label">Correo electrónico: </label>
          </div>
          <div class="col-auto">
            <input class="form-control" formControlName="email" type="text">
            <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
          </div>
        </div>

        <div class="row row py-2 g-3 align-items-center">
          <div class="col-auto">
            <label class="col-form-label">Contraseña: </label>
          </div>
          <div class="col-auto">
            <input class="form-control" formControlName="password" type="text">
            <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
          </div>
        </div>

        <div class="row row py-2 g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Nombre: </label>
            </div>
            <div class="col-auto">
              <input class="form-control" formControlName="first_name" type="text">
              <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
            </div>
          </div>

          <div class="row row py-2 g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Apellido: </label>
            </div>
            <div class="col-auto">
              <input class="form-control" formControlName="last_name" type="text">
              <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
            </div>
          </div>

          <div class="row row py-2 g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Teléfono: </label>
            </div>
            <div class="col-auto">
              <input class="form-control" formControlName="telefono" type="text">
              <p *ngIf="formulario.get('telefono')?.errors?.['serverError']"> {{formulario.get('telefono')?.errors?.['serverError']}}</p>
            </div>
          </div>

          <div class="row row py-2 g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Pais: </label>
            </div>
            <div class="col-auto">
              <input class="form-control" formControlName="pais" type="text">
              <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
            </div>
          </div>

          <div class="row row py-2 g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Estado: </label>
            </div>
            <div class="col-auto">
              <input class="form-control" formControlName="estado" type="text">
              <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
            </div>
          </div>

          <div class="row row py-2 g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Ciudad: </label>
            </div>
            <div class="col-auto">
              <input class="form-control" formControlName="ciudad" type="text">
              <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
            </div>
          </div>

          <div class="row row py-2 g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Direccion: </label>
            </div>
            <div class="col-auto">
              <input class="form-control" formControlName="direccion" type="text">
              <mat-error *ngIf="formulario.get('first_name')?.errors?.['serverError']"> {{formulario.get('first_name')?.errors?.['serverError']}}</mat-error>
            </div>
          </div>

          <div>
            <label for="imagen">Imagen:</label>
            <input type="file" id="foto_perfil" required (change)="onFileSelected($event)">
            <div
              *ngIf="formulario.controls['foto_perfil'].invalid && (formulario.controls['foto_perfil'].dirty || formulario.controls['foto_perfil'].touched)">
      
            </div>
          </div>


        <button class="btn btn-primary" >Nuevo usuario</button>
      </form>
    </div>

