<div class="container-fluid d-flex mx-0 px-0  min-vh-100 ">

    <div class="col-auto col-xl-3  px-0 bg-light">

        <app-cabecera></app-cabecera>

    </div>


    <div class="col-12 pe-5 pe-xl-0 col-xl-7 border fadeIn">
        <div class="row">
            <div class="col-sm-9 offset-3">

                <div *ngFor="let notificacion of notificaciones" class="alert border" role="alert">
                    <div *ngIf="!notificacion.procesada" class="row alert alert-primary alert-dismissible fade show">
                        <div class="col-9 border">
                            Tienes una nueva solicitud de amistad de
                            {{notificacion.nombre_usuario}}.
                        </div>
                        <div class="col-3 border">
                            <button type="button" class="btn btn-success accept-btn mx-2"
                                (click)="confirmarAmistad(notificacion.id, notificacion.usuario_origen, notificacion.usuario_destino)">Aceptar</button>
                            <button (click)="rechazarAmistad(notificacion.id)" type="button"
                                class="btn btn-danger reject-btn">Rechazar</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="border  col-xl-2 d-none d-xl-block">
        <app-contactos-chat></app-contactos-chat>
    </div>

</div>