<form [formGroup]="formularioComent" (ngSubmit)="editarComentario()">

    <div >
      <label for="contenido">Contenido: {{comentario.post}}</label>
      <textarea rows="20" cols="120" id="contenido" formControlName="contenido" [value]="comentario.contenido"  required></textarea>
      <div *ngIf="formularioComent.controls['contenido'].invalid && (formularioComent.controls['contenido'].dirty || formularioComent.controls['contenido'].touched)">
      </div>
    </div>

   
    <button type="submit" [disabled]="formularioComent.invalid">Ingresar</button>
  </form>

