<div class="row mb-4 m-0 ">
       <div style="height: 50px;"> </div>
       <!-- Cabecera -->
       <div class="col-12 border-top border-bottom  d-flex align-items-center justify-content-center"
              style="height: 70px;">
              <h3>Chat</h3>
       </div>
</div>

<div *ngFor="let amigo of amigos" class="row m-0 ms-3" >

       <div class="col-3" (click)="redirigirChat(amigo.id)" style="cursor: pointer;">
              <img *ngIf="amigo.foto_perfil" class=" border border-black rounded-circle " style="width: 50px;"
                     src={{amigo.foto_perfil}}>

              <img *ngIf="!amigo.foto_perfil" class=" border border-black rounded-circle w-75" style="width: 70px;"
              src="https://bootdey.com/img/Content/avatar/avatar7.png">
       </div>

       <div class="col-9  d-flex align-items-center">
              <h4> {{amigo.username}}</h4>
       </div>

       <hr class="my-4">

</div>
