<div class="row mb-4 m-0 ">
       <!-- Cabecera -->
       <div class="col-12 border-top border-bottom  d-flex align-items-center justify-content-center enlaces">
              <h3>Chat</h3>
       </div>
</div>

<div *ngFor="let amigo of usuariosAmigos" class="row m-0 ms-3">

       <div class="col-3 button" (click)="redirigirChat(amigo.datos_usuario_receptor.id)" style="cursor: pointer;">


              <div *ngIf="amigo.datos_usuario_receptor.foto_perfil" class="col-1 text-center me-4" style="width: 50px;">
                     <img style="width: 50px; height: 50px;" class="border border-black rounded-circle"
                            src={{amigo.datos_usuario_receptor.foto_perfil}} alt="Image Description">
              </div>




              <div *ngIf="!amigo.datos_usuario_receptor.foto_perfil" class="col-1 text-center " style="width: 50px; ">
                     <img style="width: 50px; height: 50px;" class="border border-black rounded-circle"
                            src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
              </div>

              <span *ngIf="amigo.numMensajesNoLeidos > '0'"
                     class="button__badge ">{{amigo.numMensajesNoLeidos}}</span>
       </div>

       <div class="col-9  d-flex align-items-center ">
              <h4> {{amigo.datos_usuario_receptor.username}}</h4>

       </div>

       <hr class="my-4">

</div>