<div class="container-fluid d-flex mx-0 px-0">

    <div class="col-auto col-xl-3  px-0 bg-light">

        <app-cabecera></app-cabecera>

    </div>

    <div *ngIf="!contenidoCargado" class="animacion col-12 col-xl-7">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <span class="animacion_texto">Cargando</span>
    </div>


    <div *ngIf="contenidoCargado" class="col-11 pe-5 pe-xl-0 col-xl-7 border slides">


        <div class="d-flex enlaces">

            <div class="col-4 d-flex justify-content-center contenedor_titulo enlace_izquierdo" (click)="enlacePerfil()"
                style="cursor: pointer;">
                <h2 class="titulo_perfil">Datos personales</h2>
            </div>
            <div class="col-4 d-flex justify-content-center contenedor_titulo enlace_izquierdo_marcado" routerLink="/amigos"
                style="cursor: pointer;">
                <h2 class="titulo_perfil">Amigos</h2>
            </div>
            <div class="col-4 d-flex justify-content-center contenedor_titulo enlace_derecho" (click)="enlaceEstadisticas()"
                style="cursor: pointer;">
                <h2 class="titulo_perfil">Estadísticas</h2>
            </div>
        </div>

        <!-- Recomendaciones amistad -->
        <div class="row  d-flex  {{ noAmigos.length <=3 ? 'justify-content-center' : 'justify-content-start' }}">
            <div class=" d-flex justify-content-center col-12 p-3 pt-5">
                <h1>Recomendaciones de amistad</h1>
            </div>

            <hr class="w-75">
           

                <div class="input-group d-flex justify-content-end ms-5 ms-sm-0 me-3">
                    <div class="form-outline d-flex">
                        <input type="search" id="form1" class="form-control w-75 " placeholder="Buscar usuario"
                            [(ngModel)]="valorBusqueda" />
                            <button type="button" class="btn btn-dark" (click)=" obtenerNoAmigos(valorBusqueda)">
                                <i class="fas fa-search"></i>
                            </button>
                    </div>
                 
                </div>
      

            <div *ngFor=" let amigo of noAmigos" class="col-10 col-md-4 mt-5 mb-3 pb-4">

                <div class="container d-flex justify-content-center">

                    <div class="card card_amigos py-4">

                        <div class="text-center">


                            <img *ngIf="amigo.foto_perfil" class="rounded-circle border border-black card-img-top"
                                src={{amigo.foto_perfil}} style="width: 7rem; height: 7rem;" alt="">

                            <img *ngIf="!amigo.foto_perfil" class="rounded-circle border border-black pt-4 card-img-top"
                                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                style="width: 7rem; height: 7rem;  ">

                            <h3 class="mt-2">{{amigo.username}}</h3>
                            <span class="mt-1 texto_post;" id="texto">Amigos desde hace 2 dias</span>


                            <div class="social-buttons mt-5">
                                <!--<button class="btn btn-danger" (click)="eliminarAmistad(amigo.id)">Eliminar
                                        amigo</button>-->
                                <button *ngIf="!amigo.amistadPendiente" class="btn btn-danger"
                                    (click)="agregarAmigo(amigo.url)">Agregar a
                                    amigos</button>
                                <button *ngIf="amigo.amistadPendiente" class="btn btn-danger"
                                    (click)="agregarAmigo(amigo.url)" disabled>Esperando respuesta</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Amistades -->
            <div class="row text-center container pt-3 mx-0 mt-4 " style="height: 100px;">
                <h1>Tus amigos</h1>
            </div>

            <hr class="w-75">

            <div
                class="row my-4 d-flex {{ amigos.length <=3 ? 'justify-content-center' : 'justify-content-start' }} container mx-0">

                <div *ngFor=" let amigo of amigos" class="col-11 col-md-4 text-center   my-5">

                    <div class="container d-flex justify-content-center">

                        <div class="card card_amigos  py-4">

                            <div class="text-center">


                                <img *ngIf="amigo.foto_perfil" class="rounded-circle border border-black card-img-top"
                                    src={{amigo.foto_perfil}} style="width: 7rem; height: 7rem;" alt="">

                                <img *ngIf="!amigo.foto_perfil"
                                    class="rounded-circle border border-black pt-4 card-img-top"
                                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                    style="width: 7rem; height: 7rem;  ">

                                <h3 class="mt-2">{{amigo.username}}</h3>
                                <span class="mt-1 clearfix">Amigos desde hace 2 dias</span>


                                <div class="social-buttons mt-5">
                                    <!--<button class="btn btn-danger" (click)="eliminarAmistad(amigo.id)">Eliminar
                                            amigo</button>-->
                                    <button class="neo-button" [routerLink]='["/perfil-usuario/", amigo.id]'><span
                                            class="material-symbols-outlined">
                                            search
                                        </span> </button>

                                    <button class="neo-button"><span class="material-symbols-outlined"
                                            (click)="eliminarAmistad(amigo.id)">
                                            close
                                        </span> </button>
                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="border  col-xl-2 d-none d-xl-block">
        <app-contactos-chat></app-contactos-chat>
    </div>

</div>