<div *ngIf="!modoEdicion">
  <form [formGroup]="formularioPost" (ngSubmit)="enviaPost()">
    <div>
      <label for="titulo">Titulo:</label>
      <input type="text" id="titulo" formControlName="titulo" required>
      <div
        *ngIf="formularioPost.controls['titulo'].invalid && (formularioPost.controls['titulo'].dirty || formularioPost.controls['titulo'].touched)">

      </div>
    </div>
    <div>
      <label for="contenido">Contenido:</label>
      <textarea rows="20" cols="120" id="contenido" formControlName="contenido" required></textarea>
      <div
        *ngIf="formularioPost.controls['contenido'].invalid && (formularioPost.controls['contenido'].dirty || formularioPost.controls['contenido'].touched)">
      </div>
    </div>

    <div>
      <label for="imagen">Imagen:</label>
      <input type="file" id="imagen" required (change)="onFileSelected($event)">
      <div
        *ngIf="formularioPost.controls['imagen'].invalid && (formularioPost.controls['imagen'].dirty || formularioPost.controls['imagen'].touched)">

      </div>
    </div>



    <button type="submit" [disabled]="formularioPost.invalid">Ingresar</button>
  </form>

</div>


<div *ngIf="modoEdicion">
  <form [formGroup]="formularioPost" (ngSubmit)="enviaPost()">
    <div>
      <label for="titulo">Titulo:</label>
      <input type="text" id="titulo" formControlName="titulo" [value]="post.titulo" required>
      <div
        *ngIf="formularioPost.controls['titulo'].invalid && (formularioPost.controls['titulo'].dirty || formularioPost.controls['titulo'].touched)">

      </div>
    </div>
    <div>
      <label for="contenido">Contenido Editar:</label>
      <textarea rows="20" cols="120" id="contenido" formControlName="contenido" [value]="post.contenido"
        required></textarea>
      <div
        *ngIf="formularioPost.controls['contenido'].invalid && (formularioPost.controls['contenido'].dirty || formularioPost.controls['contenido'].touched)">
      </div>
    </div>



    <button type="submit">Ingresar</button>
  </form>

</div>