@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


/* GENERALES */

.cursor{
    cursor: pointer;
}


/* COMPONENTE AMIGOS */

.card_amigos {

    width: 400px;
    border-radius: 50px;
    background: #eeeeee;
    box-shadow: 5px 5px 40px #cacaca,
        -5px -5px 40px #ffffff;
    border: none;

}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: red;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #cacaca,
        -20px -20px 60px #ffffff;
}

.neo-button:active {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca,
        inset -20px -20px 60px #ffffff;
}


/* CARGA DE LA PAGINA */
.animacion{
  text-align: center;
}


.lds-roller {
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    
    margin-top: 50px;
    margin-left: -45px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: red;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }





/** ANIMACIONES */
  .slides {
    display: inline-block;

  
    animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
  }
  

.fadeIn {
  display: inline-block;

  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
}


/* CABECERA */
.icono-cabecera {
 
 
}

.enlace-cabecera{
  color: black;
  margin-bottom: 30px;
  margin-left: 10px;
  justify-content: center;
  display: flex;
}


.enlace-cabecera-seleccionado{
  color: red;
  margin-bottom: 30px;
  margin-left: 10px;
  justify-content: center;
  display: flex;
}

.texto-cabecera{
 
  font-size: 26px;
}

.nueva-publicacion{
  margin-right: 20px;
  display: flex;

}

.logout{
  color: black;
  margin-left: 10px;
  justify-content: center;
  display: flex;
}

.logout-datos{
  display: flex;
  flex-direction: column;
  
  margin-left: 10px;
  text-align: center;
}


.logout-datos *{
  margin-bottom: 10px;
}

hr{
  color: black;
  border: solid;
  display: flex;
  justify-content: center;
  width: 100%;
}

#menu{

}

/* PAGINA PRINCIPAL */

/* Post */
.Post{
  border-radius: 2%;
  background: #eeeeee;
  box-shadow: 5px 5px 5px #cacaca,
      -5px -5px 5px #ffffff;
  border: none;
}

.Post :hover {
  background-color: rgb(245, 245, 245);
  transition-duration: 0.5s;
}

#enlaces{
  height: 100px;
}

#enlace_izquierdo{
  padding-top: 15px;
  border-right:solid rgb(185, 185, 185);
  border-bottom: solid;

}

#enlace_izquierdo_marcado{
  padding-top: 15px;
  border-right:solid rgb(185, 185, 185);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(247,5,69,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(247,5,69,1);
  box-shadow: 0px 5px 0px 0px rgba(247,5,69,1);
}

#enlace_derecho{
  padding-top: 15px;
  border-bottom: solid;
}

#enlace_derecho_marcado{
  padding-top: 15px;
  border-bottom: solid;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(247,5,69,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(247,5,69,1);
  box-shadow: 0px 5px 0px 0px rgba(247,5,69,1);
}


/* DETALLES POST */

