@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


/* GENERALES */

.cursor{
    cursor: pointer;
}

/* COMPONENTE AMIGOS */

.card_amigos {

    width: 400px;
    border-radius: 50px;
    background: #eeeeee;
    box-shadow: 5px 5px 40px #cacaca,
        -5px -5px 40px #ffffff;
    border: none;

}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: red;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #cacaca,
        -20px -20px 60px #ffffff;
}

.neo-button:active {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca,
        inset -20px -20px 60px #ffffff;
}

